.home-carousel-wrapper {
    color: var(--light-blue);
    background-color: var(--light-blue);
    margin-top: 2%;
}

.home-header {
    text-align: center;
}

img {
	max-height: 600px;
	object-fit: contain;
	margin: auto;
}

.column {
  float: left;
  width: 50%;
  text-align: center;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

@media screen and (max-width: 600px) {
  .column {
    width: 100%;
  }
  img {
  	max-height: 250px;
  	object-fit: contain;
  }
}