.footer {
    margin-top: 40px;
    padding-top: 12px;
    padding-bottom: 20px;
    background-color: rgb(240, 240, 240);
}

.footer-social {
    margin-top: 30px;
}

.footer-newsletter {
    margin-top: 15px;
}

.footer-button-newsletter {
    margin-top: 10px;
}
.footer-links{
  margin-top: 20px;
  background-color: rgb(240, 240, 240);
  font-size: large;
}