.map-wrapper {
    width: 1000px;
}

.online-wrapper {
	width: 1000px;
}

hr {
  border-top: 2px solid lightgrey;
  width: 80%;
}

.column {
  float: right;
  width: 50%;
  text-align: center;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

@media screen and (max-width: 1100px) {
  .column {
    width: 100%;
  }
}