.row-wrapper {
    height: 70vh;
    font-size: large;
}

/* main column section */

.main-column {
    padding-top: 1%;
    padding-bottom: 1%;
    background-color: whitesmoke;
}

.main-image {
    width: 100%;
    height: 40%;
}

.main-column-container {
    padding-top: 1%;
    padding-bottom: 0.25%;
    border-radius: 3px;
    background-color: whitesmoke;
}

/* sidebar section */
.sidebar-column {
    background-color: whitesmoke;
}

.side-bar-item-wrapper{
 margin-top: 2.5%;
}

.key-details-wrapper {
    margin-bottom: 1%;
    margin-top: 1%;
}


.title-red {
    color: whitesmoke;
}

.key-details-row {
    margin-bottom: 1%;
}


/* Overridding Color of Boostrap default Carosel */
/* Reference: https://stackoverflow.com/questions/46249541/change-arrow-colors-in-bootstraps-carousel */
.carousel-control-prev-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23F5F5F5' viewBox='0 0 8 8'%3E%3Cpath d='M5.25 0l-4 4 4 4 1.5-1.5-2.5-2.5 2.5-2.5-1.5-1.5z'/%3E%3C/svg%3E") !important;
}

/* Overridding Color of Boostrap default Carosel */
/* Reference: https://stackoverflow.com/questions/46249541/change-arrow-colors-in-bootstraps-carousel */
.carousel-control-next-icon {
     background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23F5F5F5' viewBox='0 0 8 8'%3E%3Cpath d='M2.75 0l-1.5 1.5 2.5 2.5-2.5 2.5 1.5 1.5 4-4-4-4z'/%3E%3C/svg%3E") !important;
}
