.footer-wrapper {
    width: 100%;
    columns: black;
    background-color: royalblue;
    color: black;
    border-style: solid;
}

.footer-column {
    margin-top: 2%;
    margin-left: 10%;
    margin-bottom: 2%;
}